.popUp{
    position: absolute;
    padding:30px;
    background-color:white;
    z-index: 1000;
    left:50%;
    top:15%;
    transform:translate(-50%);
    max-width:1000px;
    width:100%;
}
.booking-form{
  
}
.buttonStyles{
    margin-top:10px;
}
.close{
    margin-left:10px;
}
label{
    margin-top:20px;
}